@model IEnumerable<MVC5Course.Models.Product>

@{
    ViewBag.Title = "Index";
}


<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
@if (!String.IsNullOrEmpty(Convert.ToString(TempData["ProductsEditDoneMsg"]))) {
    <h3>@TempData["ProductsEditDoneMsg"]</h3>
}
</p>
@using (Html.BeginForm()) {
    <table class="table">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProductName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            @*<th>
                    @Html.DisplayNameFor(model => model.Active)
                </th>*@
            <th>
                @Html.DisplayNameFor(model => model.Stock)
            </th>
            <th></th>
        </tr>
        @{
            //products變數名稱要跟Controller傳入參數相同
            var products = Model.ToArray();
        }

        @for (int i = 0; i < products.Length; i++)
        {
            @Html.HiddenFor(modelItem => products[i].ProductId)
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => products[i].ProductName)
                </td>
                <td>
                    @Html.EditorFor(modelItem => products[i].Price)<br />
                    @Html.ValidationMessageFor(modelItem => products[i].Price, "", new { @class = "text-danger" })
                </td>
                @*<td>@Html.DisplayFor(modelItem => data[i].Active)</td>*@
                <td>
                    @Html.EditorFor(modelItem => products[i].Stock)<br />
                    @Html.ValidationMessageFor(modelItem => products[i].Stock,"", new { @class = "text-danger" })
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = products[i].ProductId }) |
                    @Html.ActionLink("Details", "Details", new { id = products[i].ProductId }) |
                    @Html.ActionLink("Delete", "Delete", new { id = products[i].ProductId })
                </td>
            </tr>
             }

    </table>
    <button class="btn btn-primary">批次更新</button>

}