@model IEnumerable<MVC5Course.Models.Client>

@{
    if (IsAjax) { 
        Layout = "";
    }
    ViewBag.Title = "Index";
    
    var CommonAjaxOptions =new AjaxOptions() { 
        UpdateTargetId = "Details" ,
        LoadingElementId="Loading"};
}

<h2>Index</h2>

@if (TempData["Msg"]  != null) {
    <script>
        alert('@Ajax.JavaScriptStringEncode(Convert.ToString(TempData["Msg"]))');
    </script>
}


<p>
    @Ajax.ActionLink("Create New", "Create", CommonAjaxOptions)
    <img id="Loading" src="~/Content/ajax-loader.gif" style="display:none" />
</p>
@using PagedList;
@using PagedList.Mvc;
@{
    var data = Model as IPagedList;
}
@Html.PagedListPager(data, p => Url.Action("Index", new { pageNO = p }), 
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("#main"))
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FirstName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MiddleName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.LastName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gender)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CreditRating)
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FirstName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.MiddleName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.LastName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Gender)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DateOfBirth)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CreditRating)
        </td>
        <td>
            @*@Html.ActionLink("Edit", "Edit", new { id=item.ClientId }) |*@
            @Ajax.ActionLink("Edit", "Edit", new { id = item.ClientId },
             CommonAjaxOptions) |
            @Ajax.ActionLink("Details", "Details", new { id = item.ClientId },
             CommonAjaxOptions) |
            @Ajax.ActionLink("Delete", "Delete", new { id = item.ClientId },
             CommonAjaxOptions)
        </td>
    </tr>
}
</table>

@Html.PagedListPager(data, p => Url.Action("Index", new { pageNO = p}), 
    PagedListRenderOptions.EnableUnobtrusiveAjaxReplacing("#main"))

<div id="Details"></div>
